@import "tailwindcss";

@layer base {
    body {
        @apply w-full bg-black text-white p-10 flex justify-center items-center h-screen;
    }
}

@layer components {
    .input-form {
        @apply w-full sm:w-100 flex flex-col md:flex-row gap-3 items-center justify-center;
    }

    .input-value {
        @apply w-full px-3 py-2 border-2 border-white/20 rounded-xl bg-zinc-900 outline-none;
    }

    .submit-btn {
        @apply px-3 py-2 font-semibold rounded-xl bg-purple-600 cursor-pointer hover:bg-purple-700 transition-colors duration-300;
    }

    .user-profile {
        @apply w-full md:w-[60%] mx-auto mt-10 p-5 rounded-2xl border-2 border-white/20 bg-zinc-950 space-y-5;
    }

    .repo-style {
        @apply p-2 rounded-full bg-purple-600 cursor-pointer text-xs font-semibold transition duration-300 hover:translate-y-[-2px];
    }
}